@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

.font_Regular {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.64px;
  color: #f4f2ef;
  font-family: Pretendard-Regular;
}

.f_red {
  color: #e4012c;
}

/* 폰트 */

.Divider {
  width: 1440px;
  height: 1px;
  background-color: white;
  margin: 0 auto;
}

.Info_Page {
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  margin-bottom: 320px;
  display: flex;
}

.Info_BackgroundImg {
  width: 518px;
  height: 1024px;
  background-color: wheat;
}

.Info_Content {
  width: 898px;
  height: 1024px;
  margin-left: 24px;
  font-family: Pretendard-Regular;
}

.Info_Index {
  width: 898px;
  height: 200px;
}

.Info_Title {
  width: 898px;
  height: 280px;
  color: #e4012c;
  line-height: 120%;
  letter-spacing: -5.12px;
  font-size: 128px;
  font-family: Pretendard-Bold;
  margin-bottom: 240px;
}

.Info_Overview_Top {
  width: 898px;
  height: 40px;
  margin-bottom: 24px;
  display: flex;
}

.Info_Overview_Title {
  width: 451px;
  height: 40px;
  font-size: 32px;
  letter-spacing: -1.28px;
  color: #f4f2ef;
  font-family: Pretendard-Bold;
  margin-right: 211px;
}

.Info_Overview_Text {
  width: 236px;
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.Info_Description_Box {
  width: 898px;
  height: 240px;
  display: flex;
}

.Info_Description_Text {
  width: 451px;
  height: 240px;
  margin-right: 24px;
}

.Info_Description_Img {
  width: 260px;
  height: 240px;
}

.Info_hover_font {
  color: #e4012c;
  text-decoration: underline;
}

#overview_img_container {
  transition: opacity 0.5s ease; /* 0.5초 동안 천천히 전환 */
  opacity: 1;
}

#overview_img_container.fade-out {
  opacity: 0; /* 이미지가 바뀌는 동안 서서히 사라짐 */
}

/* Info Page 스타일 */

.Records_Page {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  margin-top: 320px;
}

.Records_Page_Container {
  width: 1116px;
  height: auto;
  margin: 0 auto;
}

.Records_Title {
  width: 356px;
  height: 60px;
  color: #e4012c;
  font-size: 50px;
  font-family: Pretendard-Bold;
  letter-spacing: -2px;
  margin-bottom: 64px;
}

.Records_Content_Container {
  width: 1116px;
  height: 320px;
  display: flex;
  align-items: center;
  margin-bottom: 320px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.Records_Content_Img {
  width: 261;
  height: 320px;
}

.Records_Content_Text_Right {
  width: 831px;
  height: auto;
  margin-left: 24px;
  font-size: 64px;
  color: #f4f2ef;
  text-align: right;
  line-height: 150%;
  letter-spacing: -2.56px;
  font-family: Pretendard-Regular;
}

.Records_Content_Text_Left {
  width: 831px;
  height: auto;
  margin-right: 24px;
  font-size: 64px;
  color: #f4f2ef;
  text-align: left;
  line-height: 150%;
  letter-spacing: -2.56px;
  font-family: Pretendard-Regular;
}

/* records page 속성 */

.Statistics_Page {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  margin-top: 320px;
}

.Statistics_Page_Container {
  width: 1116px;
  height: auto;
  margin: 0 auto;
}

.Statistics_Title {
  width: 356px;
  height: 128px;
  color: #e4012c;
  font-size: 50px;
  font-family: Pretendard-Bold;
  letter-spacing: -2px;
  margin-bottom: 32px;
}

.Statistics_Content_Chart {
  width: 1116px;
  height: auto;
  margin-bottom: 64px;
}

.Statistics_Chart_Description_Title {
  width: 451px;
  height: 40px;
  margin-left: 285px;
  color: #f4f2ef;
  font-size: 36px;
  font-family: Pretendard-Bold;
  margin-bottom: 32px;
}

.Statistics_Chart_Description_Container {
  width: 831px;
  height: 144px;
  display: flex;
  margin-bottom: 240px;
}

.Statistics_Description {
  width: 166px;
  height: 24px;
}

.Statistics_Chart_Description {
  width: 546px;
  height: 144px;
  margin-left: 119px;
}

/* Statistics page 스타일 */

.Bottom_Page {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  margin-top: 320px;
}

.Bottom_Img {
  width: 1440px;
  height: 1024px;
}
